/* Font faces */
@font-face {
    font-family: "Noto Sans";
    src: url("NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-weight: bold;
    src: url("NotoSans-Bold.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-style:italic;
    src: url("NotoSans-Italic.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-weight:bold;
    font-style:italic;
    src: url("NotoSans-BoldItalic.ttf");
}

/* Colorschemes */
:root{
    --green:rgb(44, 165, 71);
    --blue:rgb(38, 142, 202);
    --red:rgb(202, 66, 66);
    --yellow:rgb(179, 149, 17);
}
@media (prefers-color-scheme: light) {
    :root{
        --bg-transparent:rgba(255, 255, 255, 0.95);
        --bg-solid:rgba(255, 255, 255);
        --bg-color:rgb(255, 255, 255);
        --bg-accent:rgb(241, 226, 253);
        --text-color:rgb(0, 0, 0);
        --link-purple:rgb(129, 29, 211);
        --link-purple-hover:rgb(173, 82, 248);
        --line-color:#00000041;

        --grey:rgb(97, 97, 97);
        --purple:rgb(129, 29, 211);
        --dark-purple:rgb(97, 17, 163);
        --light-purple:rgb(215, 176, 247);
        --white:rgb(255, 255, 255);
        --dark-white:rgb(241, 226, 253);
        --light-grey:rgb(158, 137, 173);
    }
    body.reverse{
        --bg-transparent:rgba(8, 8, 8, 0.95);
        --bg-solid:rgba(8, 8, 8);
        --bg-color:rgb(27, 27, 27);
        --bg-accent:rgb(8, 8, 8);
        --text-color:rgb(255, 255, 255);
        --link-purple:rgb(196, 123, 255);
        --line-color:#52525241;

        --grey:rgb(212, 212, 212);
        --purple:rgb(129, 29, 211);
        --dark-purple:rgb(97, 17, 163);
        --light-purple:rgb(81, 31, 124);
        --white:rgb(255, 255, 255);
        --dark-white:rgb(222, 194, 245);
        --light-grey:rgb(245, 245, 245);
    }
}
@media (prefers-color-scheme: dark) {
    :root{
        --bg-transparent:rgba(8, 8, 8, 0.95);
        --bg-solid:rgba(8, 8, 8);
        --bg-color:rgb(27, 27, 27);
        --bg-accent:rgb(8, 8, 8);
        --text-color:rgb(255, 255, 255);
        --link-purple:rgb(196, 123, 255);
        --link-purple-hover:rgb(173, 82, 248);
        --line-color:#52525241;

        --grey:rgb(212, 212, 212);
        --purple:rgb(129, 29, 211);
        --dark-purple:rgb(97, 17, 163);
        --light-purple:rgb(81, 31, 124);
        --white:rgb(255, 255, 255);
        --dark-white:rgb(222, 194, 245);
        --light-grey:rgb(245, 245, 245);
    }

    body.reverse{
        --bg-transparent:rgba(255, 255, 255, 0.95);
        --bg-solid:rgba(255, 255, 255);
        --bg-color:rgb(255, 255, 255);
        --bg-accent:rgb(241, 226, 253);
        --text-color:rgb(0, 0, 0);
        --link-purple:rgb(129, 29, 211);
        --line-color:#00000041;
    
        --grey:rgb(97, 97, 97);
        --purple:rgb(129, 29, 211);
        --dark-purple:rgb(97, 17, 163);
        --light-purple:rgb(215, 176, 247);
        --white:rgb(255, 255, 255);
        --dark-white:rgb(241, 226, 253);
        --light-grey:rgb(158, 137, 173);
    }
}
body.dark{
    --bg-transparent:rgba(8, 8, 8, 0.95);
    --bg-color:rgb(27, 27, 27);
    --bg-accent:rgb(8, 8, 8);
    --text-color:rgb(255, 255, 255);

    --grey:rgb(212, 212, 212);
    --purple:rgb(163, 58, 248);
    --dark-purple:rgb(132, 67, 185);
    --white:rgb(255, 255, 255);
    --dark-white:rgb(222, 194, 245);
    --light-grey:rgb(245, 245, 245);
}

/* Generic classes */
::-moz-selection,::selection {
    background-color:var(--light-purple);
}
a{
    color:var(--link-purple);
    text-decoration:underline var(--link-purple);
}
a:hover{
    color:var(--link-purple-hover);
    text-decoration-color: var(--link-purple-hover);
}
body{
    margin:0;
    font-family:'Noto Sans', sans-serif;
    background-color:var(--bg-color);
    color:var(--text-color);
}
.icon{
    width: 1em;
    height: 1em;
    vertical-align:-.125rem;
}
.nodecoration{
    text-decoration:none;
    color:inherit;
}
.flex{
    flex:50%;
}
.hide{
    display:none;
}

/* Color classes */
.purple{
    color:var(--link-purple) !important;
}
svg.purple path{
    fill:var(--link-purple) !important;
}
.white{
    color:var(--white) !important;
}
.green{
    color:var(--green) !important;
}
svg.green path{
    fill:var(--green) !important;
}
.yellow{
    color:var(--yellow) !important;
}
svg.yellow path{
    fill:var(--yellow) !important;
}
.red{
    color:var(--red) !important;
}
svg.red path{
    fill:var(--red) !important;
}
.blue{
    color:var(--blue) !important;
}
svg.blue path{
    fill:var(--blue) !important;
}


/* Work in progress */
.notification{
    position:fixed;
    top:0;
    padding:0.5rem 0;
    background-color:var(--bg-notif);
    width:100%;
}
.notification-content{
    max-width:65rem;
    margin:0 auto;
    padding:0 1rem;
    box-sizing: border-box;
    text-align:center;
}
.notification-link{
    margin-left:0.3rem;
}

/* Header */
header{
    position:fixed;
    width:100%;
    background-color:var(--bg-transparent);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
}
.header-content{
    max-width:65rem;
    margin:0 auto;
    padding:0 1rem;
    display:flex;
    justify-content: space-between;
    user-select:none;
}

/* footer */
footer{
    padding:3rem 0 2rem 0;
    background-color:var(--bg-transparent);
    border-top-style:solid;
    border-top-width: 1px;
    border-top-color:var(--line-color);
}
.footer-content{
    max-width:65rem;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, 25%);
    overflow-wrap:wrap;
}
.footer-list{
    list-style-type:none;
}
.footer-list li{
    margin:0.3rem 0;
}
.footer-list-title{
    font-size:120%;
    font-weight:600;
    margin-bottom:1rem;
}
.footer-copyright{
    max-width:58rem;
    padding:0 1rem;
    margin:1rem auto 0 auto;
    font-size:0.8rem;
    color:var(--grey);
}

/* front section */
.front{
    padding:7.5rem 0 6rem 0;
    background-color:var(--bg-color);
}
.front-title{
    margin-top:1.25rem;
    font-size:280%;
    text-align:center;
}
.front-icon-container{
    width:8rem;
    margin:0 auto;
}
.front-icon{
    width:8rem;
    margin:0 auto;
}
.top{
    padding-top:7.5rem !important;
}

/* Section elements */
.content{
    max-width:46rem;
    padding:0 1rem;
    margin:0 auto;
}
.section-accent{
    padding:1rem 0;
    background-color:var(--bg-accent);
}
.section-solid{
    padding:1rem 0;
    background-color:var(--bg-color);
}
.padding-big{
    margin:0;
    padding:2.5rem 0 4.5rem 0;
}
h1.section-title{
    font-size:200%;
    text-align:center;
}
h2.section-title{
    font-size:180%;
    text-align:center;
}
h3.section-title{
    margin-top:2.4rem;
    margin-bottom:1rem;
    font-size:160%;
    text-align:left;
}
hr.section-separator{
    width:100%;
    border:solid 0.5px var(--text-color);
}
.section-desc{
    text-align:center;
    color:var(--grey);
    font-size:115%;
}
.section-text{
    text-align:center;
    font-size:115%;
}
.justify{
    text-align:justify;
}
.status{
    text-align:center;
    font-size:115%;
}

/* Table */
.section-table{
    font-size:115%;
    width:80%;
    margin:2.5rem auto 0 auto;
    border:1px solid var(--grey);
    border-collapse:collapse;
}
.section-table tr,.section-table td,.section-table th{
    border:1px solid var(--grey);
    border-collapse:collapse;
}
.section-table td,.section-table th{
    width:50%;
    padding:0.5rem 0.5rem;
}
.td-right{
    text-align:right;
}
.td-strong{
    font-weight:600;
}

/* Header */
.header-logo{
    margin:0.7rem 0;
}
.header-menu{
    display:flex;
    text-align:right;
    margin:auto 0;
}
.header-icon{
    height:2.5rem;
    padding:0.3rem 0;
    vertical-align: middle;
}
.header-title{
    vertical-align: middle;
    color:var(--text-color);
    font-size:120%;
    margin-left:0.3rem;
    font-weight:bold;
}
.header-links{
    vertical-align: middle;
    margin: auto 0 auto 1rem;
}
.header-link{
    text-decoration:none;
    transition:0.2s underline;
    margin:0 0.3rem;
    color:var(--text-color);
    font-weight:400;
}
.header-link:hover{
    color:var(--text-color);
    text-decoration:underline var(--text-color);
}

/* Buttons */
.section-buttons{
    margin-top:1.5rem;
    text-align:center;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.button{
    margin:0.5rem;
    font-family:inherit;
    font-size:100%;
    font-weight:600;
    border:2px solid transparent;
    border-radius:7px;
    padding:0.8rem 2rem;
    cursor:pointer;
    display:grid;
    box-sizing: border-box;
    transition:0.2s;
}
.button.header-button{
    margin:auto 0.2rem;
    padding:0.7rem 0.9rem;
    background-color:transparent;
    border-width:3px;
    color:var(--text-color);
}
.button.primary .icon > path{
    fill:var(--white);
}
.button.secondary .icon > path{
    fill:var(--purple);
}
.button.header-button .icon > path{
    fill:var(--text-color) !important;
}
.button.header-button:hover{
    border-color:var(--light-grey);
}
#menu-button{
    display:none;
}
#menu-button:hover div.button.header-button{
    border-color:var(--light-grey);
}
.button.primary{
    background-color:var(--purple);
    border-color:var(--purple);
    color:var(--white);
}
.button.primary:hover{
    background-color:var(--dark-purple);
    border-color:var(--dark-purple);
}
.button.secondary{
    background-color:var(--white);
    border-color:var(--purple);
    color:var(--purple);
}
.button.secondary:hover{
    background-color:var(--dark-white);
}
.button.primary:active,.button.secondary:active{
    transform:scale(0.95);
}
.button-icon{
    display: inline-block;
    vertical-align: text-bottom;
}
.text-content{
    box-sizing: border-box;
    margin-left: 8px;
}

/* Dropdown */
/* Inspired from:  https://stackoverflow.com/questions/70855145/dropdown-menu-html-css-without-javascript */
.dropdown {
    position: relative;
    display: inline-block;
    background-color:none;
}
.dropdown-text{
    padding:auto;
}
.dropdown > input {
    top: 0;
    opacity: 0;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.dropdown-container {
    transform: scaleY(0);
    width: 10rem;
    background-color:var(--bg-transparent);
    position: absolute;
    top:2.8rem;
    right:0;
    border-radius:15px !important;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
}
.dropdown > input:checked + .dropdown-container {
    transform: scaleY(1);
}
.dropdown-container > a {
    text-align:center;
    display: block;
    text-decoration: none;
    padding: 0.8rem 1rem;
    background-color:none;
    color:var(--text-color);
    transition:0.2s underline;
    font-weight: 400;
    border-radius:inherit;
}
.dropdown-container > a:hover{
    text-decoration:underline var(--text-color);
}

/* Card section */
.cards{
    max-width:60rem;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}
.cards.cards-select{
    max-width:40rem;
    padding:2rem;
}
.card{
    padding:0.3rem;
    display:grid;
    grid-template-columns: 16% auto;
    width:auto;
    min-width: 20rem;
}
.cards.cards-select .card{
    display:block;
    min-width:14rem;
    background-color:var(--bg-solid);
    margin:0.3rem;
    border-radius:15px;
    text-align:center;
    border:5px solid var(--bg-color);
    transition:0.2s;
}
.cards.cards-select .card:hover{
    border-color:var(--light-grey);
}
.cards.cards-select .card:active{
    transform: scale(0.97);
}
.cards.cards-select .card h3{
    margin:0 auto 1rem 0;
    text-align:center;
}
.cards.cards-select .card svg{
    height:4em !important;
    padding:1rem;
}
.cards.cards-select .card svg path{
    height:4em !important;
    padding:1rem;
}
.card-icon{
    grid-column-start:1;
    grid-column-end:2;
    text-align:center;
    padding-top:1rem;
}
.card-content{
    margin:0 0.3rem;
}
.card-icon-content{
    margin:auto;
    width:fit-content;
    height:fit-content;
    padding:15.8px 19.5px;
    color:var(--white);
    background-color:var(--purple);
    border-radius:50%;
    font-size:110%;
    text-align:center;
    vertical-align:middle;
}
.card-icon-content svg path{
    fill:var(--white);
}

/* Width queries */
@media only screen and (max-width: 750px) {
    .card{
        grid-template-columns: 20% auto;
    }
    .footer-content{
        grid-template-columns: repeat(auto-fit, 30%);
    }
    .header-content{
        max-width:58rem;
    }
    .notification-content{
        max-width:58rem;
    }
}
@media only screen and (max-width: 600px) {
    .header-links{
        display:none;
    }
    #menu-button{
        display:inherit;
    }
}
@media only screen and (max-width: 500px) {
    .nodecoration{
        width:85%;
        margin:0 auto;
    }
    .button{
        width:85%;
        margin:0.5rem auto;
    }
    .front{
        padding:6.5rem 0 6rem 0;
    }
    .footer-content{
        grid-template-columns: repeat(auto-fit, 45%);
    }
    .top{
        padding-top:6.5rem !important;
    }
}
